*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.body {
   min-height: 300vh;
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background-color: pink;
}

.nav {
   max-width: 700px;
   margin: 0 auto;
   text-align: center;
}

.nav-list {
   font-size: 0;
}

.nav-link {
   display: block;
   padding: 20px 30px;
   font-weight: bold;
   text-decoration: none;
   color: red;
   transition-property: background-color, black;
   transition-duration: 300ms;
   transition-delay: 0;
   transition-timing-function: linear;
}

.nav-link:hover {
   background-color: limegreen;
   color: black;
 
}

.nav-list-item {
   display: inline-block;
   position: relative;
   font-size: 16px;
}

.nav-list-item::before {
   content: '';
   display: block;
   position: absolute;
   width: 0px;
   height: 5px;
   background-color: black;
   top: 0;
   right: 0;
}

.nav-list-item:hover::before {
width: 100%;
transition: width 0.3s ease-in;
}
