.clients {
  background-color: var(--footer-text-color);
  padding:200px;
}

.skills-img-wrapper{
  display: flex;
  order: 1; 
  width: 60%;
  margin: 0 auto;;
}

@media screen and(min-width: 768px) {
  .about-me-info{
    width: 50%;
    margin: 0 auto;
  }
  
}