footer {
  background-color: var(--footer-text-color);
  display: flex;
  padding: 20px;
  text-align: center;
}
.footer-content2 {
  position: absolute;
  max-width: 200%;
  margin: 0 auto;
}

@media screen and(min-width: 768px) {
  .footer-content2{
    width: 50%;
    margin: 0 auto;
  }
  
}